Problem 1) How-to-count-distance-to-the-previous-zero

For each value, count the difference of the distance from the previous zero (or the start
of the Series, whichever is closer) and if there are no previous zeros,print the position

Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
 
The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.
 
import pandas as pd

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [4]:
import pandas as pd
X=[7,2,0,3,4,2,5,0,3,4]
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
x = (df['X'] != 0).cumsum()
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()

In [33]:
df['Y']

0    1.0
1    2.0
2    0.0
3    1.0
4    2.0
5    3.0
6    4.0
7    0.0
8    1.0
9    2.0
Name: Y, dtype: float64

Problem 2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers.

In [38]:
import numpy as np
dt = pd.date_range(start='2015-01-01', end='2015-12-31',  freq='B') 
s = pd.Series(np.random.rand(len(dt)), index=dt)

In [39]:
s

2015-01-01    0.297500
2015-01-02    0.551801
2015-01-05    0.206617
2015-01-06    0.108365
2015-01-07    0.371343
2015-01-08    0.027822
2015-01-09    0.426957
2015-01-12    0.605817
2015-01-13    0.893346
2015-01-14    0.308453
2015-01-15    0.461064
2015-01-16    0.114559
2015-01-19    0.575130
2015-01-20    0.051667
2015-01-21    0.843659
2015-01-22    0.417355
2015-01-23    0.470276
2015-01-26    0.810707
2015-01-27    0.371598
2015-01-28    0.953556
2015-01-29    0.610494
2015-01-30    0.101648
2015-02-02    0.436389
2015-02-03    0.334359
2015-02-04    0.052373
2015-02-05    0.799882
2015-02-06    0.262935
2015-02-09    0.979496
2015-02-10    0.350652
2015-02-11    0.374419
                ...
2015-11-20    0.556526
2015-11-23    0.192068
2015-11-24    0.233693
2015-11-25    0.522589
2015-11-26    0.525369
2015-11-27    0.405876
2015-11-30    0.442162
2015-12-01    0.344518
2015-12-02    0.282315
2015-12-03    0.001461
2015-12-04    0.032036
2015-12-07    0.984947
2015-12-08    0.243306
2015-12-09    0.706809
2015-12-10    0.412783
2015-12-11    0.696353
2015-12-14    0.332703
2015-12-15    0.868212
2015-12-16    0.684797
2015-12-17    0.957324
2015-12-18    0.976374
2015-12-21    0.085419
2015-12-22    0.550460
2015-12-23    0.182496
2015-12-24    0.934704
2015-12-25    0.344625
2015-12-28    0.272059
2015-12-29    0.516485
2015-12-30    0.074030
2015-12-31    0.196914
Freq: B, Length: 261, dtype: float64

Problem 3) Find the sum of the values in s for every Wednesday

In [40]:
s[dt.weekday == 2].sum()

24.7249020224742

Problem 4) Average For each calendar month

In [42]:
s.resample('M').mean()

2015-01-31    0.435442
2015-02-28    0.443413
2015-03-31    0.531779
2015-04-30    0.476764
2015-05-31    0.542791
2015-06-30    0.500907
2015-07-31    0.437432
2015-08-31    0.484527
2015-09-30    0.583359
2015-10-31    0.622353
2015-11-30    0.451113
2015-12-31    0.464397
Freq: M, dtype: float64

Problem 5) For each group of four consecutive calendar months in s, find the date on which the
highest value occurred.

In [44]:
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-28
2015-05-31   2015-05-01
2015-09-30   2015-06-22
2016-01-31   2015-12-07
dtype: datetime64[ns]

In [ ]:
END OF ASSIGNMENT